header {
   font-family: 'Rochester', cursive;
}

#backgroundImage {
   background-image: url('Recipe-Image.png');
   background-repeat: no-repeat;
   background-size: 500px auto;
   margin: 50% 50%;
   width: 800px;
   height: 500px;
}

#searchSection {
   margin: 20% -10%;
   text-align: center;
}