#searchSection h2{
   font-size: 80px;
   font-weight: 600;
   margin-top: 8%;
   margin-bottom: 5%;
   text-align: center;
}

#searchSection form{
   text-align: center;
   margin-top: 3%;
   margin-bottom: 5%;
}

#searchSection button{
   margin-top: 10% 0%;
   margin-left: 45%;
}

#results {
   margin-top: 3%;
   box-sizing: border-box;
   border: none; 
}

header h1{
   font-family: 'Rochester', cursive;
   font-size: 55px;
   text-align: center;
}

#boxing h2{
   font-size: 40px ;
   text-align: center;
   font-family: 'Rochester', cursive;
   color: black;
   margin-top: 10%;
}

#backgroundImage {
   text-align: center;
   position: relative;
}

#boxing{
   margin-top: -40%;
   margin-bottom: 20%;
}

.form-control, input-lg{
   width: 60%;
   height: auto;
   margin:5%; 
}

.btn {
   width: 15%;
   height: auto;
   margin-bottom: 3%;
}

#resultBox{
  text-align: center;
  width: 100%;
  height: auto;
  margin:0%;
}

#resultBox .col-6{
   text-align: center;
   width: 100%;
   height: auto;
   margin:1% 0%;
}
img{
   margin-top: 5%;
   border-radius: 80px;
}
